.hero
{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url(../../../././../public/Conceptual\ art\ -\ Porsche\ 911.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}